* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face {
  font-family: 'CiscoSansThin';
  src: url('./CiscoSansThin.otf');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: CiscoSansThin, arial;
  color: white;
  font-size: 36px;
  background-image: 
    url('./images/THOWL_logo.png'),
    url('./images/webexbackground.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: 5% 5%, center center;
  background-size: 120px auto, cover;
  background-attachment: scroll, fixed;
  background-color: #007481;
}

a, button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover, button:hover {
  text-decoration: underline;
}

h1 { font-size: 100px; }
h2 { font-size: 50px; }
h1, h2 { text-align: center; }

.touch-to-start {
  animation: pulse 1.6s linear infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.07); }
  100% { transform: scale(1); }
}

.languages {
  display: none;
  position: absolute;
  bottom: 5vw;
  right: 5vw;
}

.language.selected {
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
}

.service {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: transparent;
  border: 0;
}

.avatar {
  border: 1px solid white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 1em 0;
  background-position: center center;
  background-size: cover;
}

/* Nur Advice Avatar */
.advice .avatar { background-image: url('./images/KI_Bot_Icon.png'); }

.back {
  position: absolute;
  bottom: 1.5em;
  left: 3em;
}
